.main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.container{
    grid-column: 2 / 12
}
.name{
    margin-bottom: 0.2rem
}
.contact{
    text-align: center;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
}
.name{
    margin-bottom: 10px;
}
.project_value{
    font-weight: 600;
    display: inline-block;
    text-align: left;
    float: left;
    width: 50%;
}
.project_role{
    display: inline-block;
    text-align: left;
    float: left;
    width: 50%;
}
.project_time, .project_position{
    display: inline-block;
    text-align: right;
    width: 50%;
}
.project_list{
    margin-top: 10px;
    margin-bottom: 10px;
}
@media print {
    .main {
        font-family: "STXihei", "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    }
    h2, h3{
        margin: 0;
    }
    hr{
        margin: 0 0;
    }
}
